.content-wrapper {
    margin-top: 10px;
    display: flex;

    .img-wrapper {
        border: 1px solid black;
        width: 220px;
        height: 220px;
        margin: 15px;

        img {
            width: 100%;
        }
    }
    .inputs {
        margin-top: 15px;
        width: 250px;

        .input-wrapper {
            margin-bottom: 20px;

            input {
                width: 100%;
            }
        }
        .btn-wrapper {
            button {
                width: 100%;
                margin-top: 4px;
            }
        }
    }
    .text-area-wrapper {
        flex: 1;
        margin: 15px 0px 15px 15px;
        min-width: 150px;

        textarea {
            height: 100%;
            resize: none;
        }
    }
    .stock-wrapper {
        width: 220px;
        margin-top: 15px;
        text-align: center;

        .quantity {
            color: #689f38;
            font-size: 69px;
        }
        .stock {
            margin-top: 30px;
        }
    }
}

.dialog-wrapper {
    .add-stock-btn {
        text-align: center;
        margin-top: 20px;
    }
}

.images-wrapper {
    height: calc(100vh - 325px);
    box-shadow: 0 3px 10px #bfbfbf;
    padding: 10px;
    position: relative;

    .images-wrapper-inner {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .image-wrapper {
        border: 1px solid black;
        margin-right: 15px;
        display: inline-block;
        height: 170px;

        img {
            height: 100%;
        }
    }

    .upload-btn {
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
}
