/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.p-dropdown {
    width: 100%;
    box-sizing: border-box;
}

.p-inputtext {
    width: 100%;
    box-sizing: border-box;
}